.invisible {
    color: rgba(255, 255, 255, 0.5); 
    opacity: 0.5;
}
.wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 10px;
}
.header {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: center;
}
.main {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
 }
.main h3 {
            width: 100%; 
            text-align: left;
}
.main img {
            float: right;
            margin: 0 100px 10px 10px; 
}
.main2 {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
}
.main3 {
            grid-column: 1 / 5;
            grid-row: 3 / 4;
}
.main3 h1 {
            width: 100%; 
            text-align: left;
}
